@model DrugPreDeleteViewModel
@{
    ViewBag.Title = "Delete Drug";
}
<h2 class="text-center" style="color: #f0a04b; font-weight:600">@ViewBag.Title</h2>
<hr />
<form asp-action="Delete">
    <div class="row">
        <div class="col-md-4">
            <img class="card-img-top" src="@Model.ImageUrl" alt="Drug Image">
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="BrandName" class="control-label" style="font-weight:500"></label>
                <input asp-for="BrandName" class="form-control" disabled="disabled" style="background-color:#e1eedd" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label" style="font-weight:500"></label>
                <input asp-for="Description" class="form-control" disabled="disabled" style="background-color:#e1eedd" />
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Delete" class="btn btn-primary" style="color: white; background-color:#183a1d;font-weight:500" />
            </div>
        </div>
    </div>
</form>