@model IEnumerable<PrescriptionViewModel>

@{
    ViewData["Title"] = "My Prescriptions";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any prescriptions yet!</h2>
}
else
{
    <div class="row">
        @foreach (var drug in Model)
        {
            <partial name="_PrescriptionPartial" model="drug"/>
        }
    </div>
}

