@{
    ViewData["Title"] = "Home Page";
}
<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <p class="lead mb-1 mt-3">
        This is your administrator area - you can <b>read</b>, <b>create</b>,
        <b>delete</b> and <b>edit</b> drugs.
    </p>
    <p class="lead mt-1">
        You can also see <b>all users and pharmacists</b> in the
        system.
    </p>
    <hr class="my-4">
    <a asp-area="" asp-controller="Drug" asp-action="All"
       class="btn btn-primary btn-lg">All Drugs</a>
    <a asp-area="" asp-controller="Drug" asp-action="Add"
       class="btn btn-primary btn-lg">Add Drug</a>
    <span> | </span>
    <a asp-area="Admin" asp-controller="Drug" asp-action="Mine"
       class="btn btn-primary btn-lg">My Prescriptions</a>
    <a asp-area="Admin" asp-controller="User" asp-action="All"
       class="btn btn-primary btn-lg">All Users</a>
</div>