@using HospitalPharmacyManagementSystem.Common.Enums;
@model PrescribeFormModel
@{
    ViewBag.Title = "Prescribe Drug";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData?.ModelState["Error"]?.Errors.First().ErrorMessage
    </div>
}
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="PatientFullName"></label>
                <input asp-for="PatientFullName" class="form-control"
                       placeholder="Enter patient full name here">
                <span asp-validation-for="PatientFullName" class="small textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age"></label>
                <input asp-for="Age" class="form-control"
                       placeholder="Enter patient age here">
                <span asp-validation-for="Age" class="small textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender"></label>
                <select asp-for="Gender" class="form-control">
                    @foreach (int formValue in System.Enum.GetValues(typeof(Gender)))
                    {
                        <option value="@formValue">@((Gender)formValue)</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Drugs"></label>
                <input asp-for="Drugs" class="form-control"
                       placeholder="">
                <span asp-validation-for="Drugs" class="small textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicationFrequency"></label>
                <input asp-for="MedicationFrequency" class="form-control"
                       placeholder="Describe the medication frequency">
                <span asp-validation-for="MedicationFrequency" class="small textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes"></label>
                <input asp-for="Notes" class="form-control"
                       placeholder="Other important information">
                <span asp-validation-for="Notes" class="small textdanger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3 " type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
